header {
    background-color: rgb(210, 234, 255);
    width: 100%;
}

h1 {
    text-align: center;
    text-decoration: underline;
}

img {
    text-align: center;
    padding-top: 20px;
    width: 50%;
}

footer {
    background-color: rgb(210, 234, 255);
    text-align: center;
}
div {
    text-align: center;
}

p {
    padding-bottom: 50px;
}

ul.navbar{
    list-style-type: none;
    background-color: rgb(210, 234, 255);
}

#nav1 {
    display: inline;
    float: left;
    margin-left: 40px;
}
#nav2 {
    display: inline;
    float: right;
    margin-right: 40px;
}

li.nav-item a {

    color: black;
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
}

li.nav-item a:hover {
    background-color: #414aff; 
}